#p {
  font-family: verdana;
  font-size: 22px;
  color: #7F462C;
}

pre {
  max-height: 300px;
  overflow-y: auto;
}

pre[class] {
  max-height: 100px;
}

body {
  background-color: #f5edca;
  
}
#FF8DC

h1 {
  text-align: center;
  font-weight: bold;
  color: #7F462C;
}


h2 {
  text-align: center;
  font-weight: bold;
  color: #7F462C;
  font-family: times;
}




