div.a {
  text-indent: 25%;
}

pre {
  max-height: 300px;
  overflow-y: auto;
}

pre[class] {
  max-height: 100px;
}

body {
  background-color: #FFF8DC;
}

h1 {
  text-align: center;
  text-decoration: bold;
  color: #7F462C;
}


h2 {
  text-align: center;
  text-decoration: bold;
  color: #7F462C;
  font-family: times;
}

p {
  color: black;
  text-align: center;
}




